
.header{
    background-image:url('Banner.jpg.png');
   position: absolute;
    height: 60%;
    width: 70%;
    color:white;
    background-origin:16px;
  
    
}
.new{
    text-align: center;
    font-size: larger;
    align-items: flex-start;
}
div>h3{
    font-size:32px;

}
div>h2{
    font-size:200%;
}
